.change-body-background {

  /* background-color: linear-gradient(180deg, #070707 0%, rgba(48, 94, 252, 1) 0%, rgba(208, 26, 100, 1) 100%); */
  background: linear-gradient(180deg, rgba(7, 7, 7, 1) 0%, rgba(48, 94, 252, 1) 0%, rgba(208, 26, 100, 1) 100%);
  color: #fff;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}