/* Fonts */

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto/Roboto-Black.ttf) format('truetype');
  font-style: bold;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  font-style: medium;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
  font-style: light;
}

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#app,
body {
  margin: 0 auto;
  text-align: left;
}



p {
  font-style: light;
  line-height: 20px;
  font-size: 18px;
}

h1 {

  font-weight: black;
  line-height: 48px;
  font-size: 42px;
  font-weight: bolder;
}

h2,
h3 {

  font-weight: light;
  line-height: 10px;
  font-size: 20px;
  font-weight: 500;
}

/* Grid */
.container {
  padding: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  margin: 10px;
  padding: 10px;
}

.col-1 {
  max-width: calc(100% / 12);
}

.col-2 {
  max-width: calc(100% / 12 * 2);
}

.col-3 {
  max-width: calc(100% / 12 * 3);
}

.col-4 {
  max-width: calc(100% / 12 * 4);
}

.col-5 {
  max-width: calc(100% / 12 * 5);
}

.col-6 {
  max-width: calc(100% / 2);
}

/* Body Background Color Layes */
.body-color {
  background-color: #fff;
}

@keyframes make-it-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.body-color--active {
  background: linear-gradient(180deg, rgba(7, 7, 7, 1) 0%, rgba(48, 94, 252, 1) 0%, rgba(208, 26, 100, 1) 100%);
  opacity: 1;
  animation: make-it-appear 3s normal;
  color: #fff
}

.body-color--active a {
  color: #fff;
}